[2017-07-27 15:45] danielepolencic opened #8 "Link to Github"
Is it possible to create a site and link it to a Github/Gitlab/Bitbucket repository automatically?

[code]

[2017-08-23 22:25] cyboolo opened #9 "How do you handle error responses?"
Hi

How do you handle error responses with netlify node-client.

For instance, if I update a site with a name that is already taken, how do you get the error response from update call.

I tried
`client.site(req.params.b).then(function(site) {

  		site.update({name: req.params.c}).then(function(site) {
  		res.success(site);
		}, function(error){
		res.error(error);
		});
	});`

But it does not wo

[2017-08-26 20:01] calebeby commented on #8
I would really like to see this feature implemented in the Netlify API. It appears as though when you setup a site on netlify.com it directly (from the browser) talks to github for webhooks. @biilmann is this something that can be moved to the api, rather than being run client-side?

[2017-08-27 04:24] calavera commented on #8
There are security benefits of doing this client side. Netlify servers don't need access to your auth token on GitHub or any other provider. You can see the implementation in https://github.com/netlify/netlify-cli if you need to do that.

I'm afraid that this is not going to change any time soon.

[2017-08-27 04:24] #8 closed

[2017-10-18 10:59] dziudek opened #10 "Lack of support for X-RateLimit during deployment"
Hi,

I have discovered an issue with your node client - your API has limit of 200 requests per minute, but it is impossible to handle it during deploying the website using your client.

I have temporary fixed this issue by limiting parallels connections from 20 to 2: https://github.com/netlify/node-client/blob/master/lib/deploy.js#L56

but in fact the library should handle the X-Rate* headers and

[2017-12-09 17:54] realityking opened #11 "Ship a new release?"
It'd would be nice to get #6 out into a release so npm stops telling me I'm using a deprecated version of `graceful-fs`.

[2018-02-01 00:10] qm3ster opened #12 "feat: parse error data"
Currently, unsuccessful requests `.reject` the promise with a strange `{ client, data, meta }` object.

1. Why is client in there?
2. Why is data an unparsed string of this kind:
[code]
Maybe it would be better to reject with an `Error` object containing the message part and the other things like meta, code, and errors tacked on as properties?

[2018-02-11 20:54] realityking commented on #11
@calavera Pretty please 😄

[2018-03-08 13:23] b1f6c1c4 commented on #11
@biilmann 17 months since the last version 😞

[2018-09-18 18:55] bcomnes opened #21 "Improve large deploy handling"
Large deploys stress the API and require some extra care:

- handle EPIPEs on potentially large request
- perform an exponential backoff retry until it works or tries out

- https://github.com/netlify/js-client/blob/master/src/deploy/index.js#L71
- https://github.com/netlify/js-client/blob/master/src/deploy/upload-files.js#L25-L29
- https://github.com/netlify/js-client/blob/master/src/deploy/uploa

[2018-09-25 21:35] realityking opened #24 "Browser support?"
The Readme states that the library supports both Node.js and the browser. Looking for the browser code I only found

https://github.com/netlify/js-client/blob/029fc09a9273f36731eb89b678fbcce1a4ac5204/src/deploy/index.browser.js#L4

Is browser support planned for the future or is the readme wrong?

[2018-09-25 21:36] realityking commented on #11
Looks like it got fixed with version 2.

[2018-09-25 21:36] #11 closed

[2018-09-25 21:39] realityking commented on #24
Nevermind - I misunderstood what that file is for.

[2018-09-25 21:39] #24 closed

[2018-09-25 21:43] bcomnes commented on #24
Browser support is supre rudimentary still.  Milage may vary! Once the CLI is fully released I hope to circle back and add some simple tests to confirm thins like site / deploy retreval.

[2018-09-25 22:38] bcomnes commented on #11
We made it!

[2018-09-25 22:38] bcomnes commented on #21
This has been incorporated.

[2018-09-25 22:38] #21 closed

[2018-09-25 22:39] bcomnes commented on #12
Version two should have better error handling.  Check it out!

[2018-09-25 22:39] #12 closed

[2018-09-25 22:39] bcomnes commented on #10
I've done some super large deploys with the new client and it seems to work alright.  Let me know if you run into issues with version 2.

[2018-09-25 22:39] #10 closed

[2018-09-25 22:40] bcomnes commented on #9
Version 2 should have better error handling.  You can check the cli for various ways to handle errors https://github.com/netlify/cli

If you have specific methods that you need help with let me know.

[2018-09-25 22:40] #9 closed

[2018-09-26 11:10] dziudek commented on #10
Hi @bcomnes ,

Thank you for the update - I will try to implement it in the next [Publii](https://github.com/getpublii/publii) release as we are currently using the old version :)

[2018-10-05 23:37] bcomnes opened #26 "Move addons to open-api"
Move these:

https://github.com/netlify/js-client/blob/master/src/addons.js

To https://github.com/netlify/open-api

[2018-10-05 23:38] bcomnes commented on #26
Started in https://github.com/netlify/open-api/pull/110

[2018-12-19 18:18] bcomnes opened #30 "Integrate zip-n-ship for functions"
We need to integrate a better function building workflow:

- https://github.com/netlify/zip-it-and-ship-it
- Also fix function entry points when there is no package.json
  - `functions/foo.js`
  - `functions/foo/package.json.main functions/foo/index.js || functions/foo/foo.js || functions/foo/bar.js`

TODO spec out requirements more

[2018-12-19 18:19] bcomnes commented on #30
We should assist with dependency installs but at the CLI and buildbot layer, not in the client library.

[2019-01-31 23:20] bcomnes opened #36 "Automate CHANGELOG and releases"
We should automate changelog and releases similar to how we did with the CLI.

[2019-02-07 01:52] bcomnes commented on #26
Tagging Gerald on this since I think he was starting on the open-api side of things for this.

[2019-02-21 17:17] bcomnes opened #38 "Deploy step fails on random steps due to network errors"
From https://github.com/netlify/cli/issues/10#issuecomment-466080087

I have this problem when I do `$ netlify deploy --prod` on the first time. It show something like...

[code]

but, after few seconds I run the same command again it then work fine.
and I got
[code]

Not sure if it help to point out to the cause of the problem...

[2019-02-25 21:04] bcomnes opened #39 "Support pagination"
We need to support pagination on calls.

- I belive we can use the algorith in https://github.com/netlify/micro-api-client/blob/master/src/pagination.js almost directly.  This will change the shape of the client though, so BREAKING CHANGE
- We also need to add the `page` and `perPage` parameters to each endpoint that supports it in https://github.com/netlify/open-api

[2019-02-26 21:05] calavera opened #40 "Support Netlify Large Media"
**- Do you want to request a *feature* or report a *bug*?**

There are a couple of things we need to add to support Netlify Large Media in the CLI.

**- What is the current behavior?**

We don't support Netlify LM

**- What is the expected behavior?**

When a site has LM enabled, we need to read information from LFS pointer files to add them to the deploy requests. This logic is already implemente

[2019-02-26 21:50] bcomnes commented on #40
We did a code walkthrough together the other day.  I think we can get this added fairly soon.  I'll take a stab at it when I have time.

[2019-02-26 22:09] keiko713 commented on #40
I need to go and ask for Keiko Sept 2018.

[2019-02-27 18:15] keiko713 commented on #40
actually what do I need to do here? is there any specific question?

[2019-02-27 18:56] bcomnes commented on #40
@keiko713 there is, but we can maybe pair and talk about it when I (or whoever does this) needs the information.

[2019-03-04 18:00] fool opened #41 "Feature request: Better handle API errors"
**- What is the current behavior?**

Currently if Netlify's API returns an HTTP error (4xx/5xx) status code during an action, we show the error but it's not usually very actionable:

[code]

We saw the same thing for HTTP 429, though I think the root cause here has since been fixed:

[code]

**- If the current behavior is a bug, please provide the steps to reproduce.**

@biilmann and @bcomnes were

[2019-03-12 17:48] bcomnes commented on #41
We retry two different ways under the covers: 429 backoff handling on all API requests, and exponential backoff for file uploading on all errors greater than 400.

We should add a CLI wrapper around the API client that looks for HTTP errors that pretty prints code, messages and some sane suggestions like you mentioned.

Thinking about this now would really clean up the command code as well, since

[2019-03-12 17:49] bcomnes commented on #41
This would be a good candidate for https://github.com/netlify/cli-utils

[2019-04-01 09:56] AlenPelin opened #43 "Create new site (and delete existing one)"
We are trying to create new site on netlify and deploy files as a one command. While deploy command is available in the client, create site functionality is missing, as well as removing site. Considering these functions are available in C# client, it looks natural to have them here.

[2019-04-05 00:38] bcomnes commented on #43
Every open-api defined in our spec is available in this client.  The `createSite` method should be available and operational on an authenticated client: https://open-api.netlify.com/#/default/createSite

The methods of this client are dynamically generated from that spec, and aren't explicitly listed in the README, although maybe it would be worthwhile to also generate those in the README somehow.

[2019-04-05 00:39] bcomnes commented on #43
See https://github.com/netlify/js-client#open-api-client-methods for our existing documentation on this functionality.

[2019-04-05 00:39] #43 closed

[2019-04-05 00:43] AlenPelin commented on #43
Thanks @bcomnes for clarification.

[2019-05-02 22:17] bcomnes commented on #40
Ok, catching up on this.

A few caveats/edge cases:

- The buildbot clones the LFS backed repo down, without the LFS media swapped in place for the file pointers.
- A build process then moves those pointer file (names the same as the actual large files) into a build directory.
- The go-client deploy algorithm treats these pointer files slightly differently
- When working locally with the CLI, it i

[2019-05-02 22:19] bcomnes commented on #40
So solve the above mentioned edge case we would need to:

- Swap LFS files during CLI deploys for LFS pointer files
- Upload new assets that haven't made it into LFS storage

This would be challenging however.  Other solutions might exist.

[2019-05-02 22:41] bcomnes commented on #36
Done

[2019-05-02 22:41] #36 closed

[2019-05-02 22:51] bcomnes commented on #26
These have been moved, but we still need to modify the CLI to use them before we can delete the addons.js file.

Replacing this issue with https://github.com/netlify/cli/issues/310

[2019-05-02 22:51] #26 closed

[2019-05-16 08:19] bkniffler opened #49 "Uploading many files is slow"
**- Do you want to request a *feature* or report a *bug*?**
Feature

**- What is the current behavior?**
Js-Client is very slow when you need to upload >10k pages. It doesn't take advantage of parallel uploading in a single thread (say 10 files in parallel) nor does it take advantage of multiple threads (child workers). I'm pretty confident deployment could be insanely faster with these.

See: htt

[2019-05-16 08:35] bcomnes commented on #49
The client uploads 15 files at a time, which helps speed up uploading of many small files.

https://github.com/netlify/js-client/blob/27f6ce34c5d19a27268cfeac6d4a266f0d58c819/src/deploy/upload-files.js

Netlify's API has a fairly low rate limit by default though, so you may be running into that if you are experiencing slow uploads.

[2019-05-16 09:59] bkniffler commented on #49
I've looked into the code, it is true. Forking child processes would help hugely too. If there really is rate limits kicking in while deploying, that would be a shame. Would be cool if netlify would accept single zip file deployment.

[2019-05-16 11:01] bcomnes commented on #49
There is a Zip upload endpoint available, but there is no de-duplicated zip upload endpoint.  The zip upload requires you to upload everything you want hosted for every deploy.  The file manifest endpoint enables content de-duplication which is usually faster.

One thing you may check for in your project is if every file in your site is changing or not (e.g. if you have a timestamp in your headers

[2019-06-01 16:20] santoshyadav198613 opened #50 "Type definition file for typescript support."
**- Do you want to request a *feature* or report a *bug*?**Feature

**- What is the current behavior?**
we only have js client
**- If the current behavior is a bug, please provide the steps to reproduce.**

**- What is the expected behavior?**

**- Please mention your node.js, and operating system version.**

[2019-08-13 05:08] rickh94 opened #55 "Functions do not deploy when following README"
**- What is the current behavior?**
Functions do not deploy to Netlify when a functions directory is specified as `functionsDir` in `opts` object of `client.deploy()`, as described in the API Flow methods section of  README.md, and instead are silently skipped. Functions do deploy when a function directory is specified as `fnDir`, matching implementation in `src/deploy/index.js`.

**- If the curre

[2019-08-13 09:18] alexschwarz89 opened #56 "Possible typo in README.md"
**- Do you want to request a *feature* or report a *bug*?** **Bug**

**- What is the current behavior?**
Readme.MD tells about optional parameters "parallelUpload" and "paralellHash" but in src/deploy/index.js the parameters are named "concurrentHash" and " concurrentUpload".

**- If the current behavior is a bug, please provide the steps to reproduce.**
Review the README.md:
https://github.com/ne

[2019-08-13 09:26] bcomnes commented on #55
This looks like a typo.

[2019-10-02 18:36] ehmicky opened #75 "Do not export `methods`"
I think `methods` should remain an internal representation of the OpenAPI specification. Exporting it makes it harder to change that internal representation without introducing breaking changes.

Users that need to know which methods we expose should either:
  - use `Object.keys(NetlifyAPI.prototype)`
  - require `@netlify/open-api`

There are currently no public repositories that use that exporte

[2019-11-15 03:07] atrimn opened #77 "createSiteBuild"
**- Do you want to request a *feature* or report a *bug*?**
bug

**- What is the current behavior?**
Error: Missing required param site_id

**- If the current behavior is a bug, please provide the steps to reproduce.**
`          const build = await currentClient.createSiteBuild({
            body: {
              site_id: deploy.site_id
            }
          })`

**- What is the expected behavi

[2019-11-15 03:49] DavidWells commented on #77
Hey @atrimn

Can you try:

[code]

IIRC the params get mapped to the body automatically

[2019-11-15 04:45] atrimn commented on #77
I tried that just tried again
`        const build = await currentClient.createSiteBuild({
          site_id: deploy.site_id
        })`

got this response
Error: Missing required param site_id

[2019-11-15 10:40] ehmicky commented on #77
@atrimn, thanks for reaching out.

Could you please include the stack trace?
Also could you confirm `deploy.site_id` is not `undefined`, `null` or an empty string?
Thanks a lot.

[2019-11-15 14:04] atrimn commented on #77
`Trace: Error: Missing required param site_id
    at Object.values.forEach.param (/Users/adrianlineweaver/Desktop/netlifyStealthist/node_modules/netlify/src/open-api/index.js:34:15)
    at Array.forEach (<anonymous>)
    at NetlifyAPI.createSiteBuild (/Users/adrianlineweaver/Desktop/netlifyStealthist/node_modules/netlify/src/open-api/index.js:28:43)
    at download (/Users/adrianlineweaver/Desktop

[2019-11-15 14:15] atrimn commented on #77
It was an error on my end deploy.site_id was undefined.
deploy.deploy.site_id was the correct way of accessing the property.

[2019-11-15 14:15] #77 closed

[2019-11-15 14:19] ehmicky commented on #77
Thanks for letting us know. Glad this works for you now.

[2019-11-17 14:05] sumitparakh commented on #50
I'll pick this one.

[2019-11-27 17:50] DavidWells opened #84 "[DX] Return better error messages on failed API requests"
When a fetch request happens to the API and something goes wrong the typical error thrown is:

[code]

Ref: https://github.com/netlify/cli/issues/622

Instead, we should give an actionable error message to the user.

[2019-11-28 16:11] ehmicky commented on #84
Thanks for reporting this bug. This should be fixed with #85.

[2019-11-28 16:25] #84 closed

[2019-12-06 01:55] DavidWells commented on #39
Bumping this.

If you have more than 100 site associated with your account some CLI commands don't function properly

- `netlify sites:list` - only pulls 100
- `netlify link` and connect to site via git remote fails because repo not in the 100 sites returned.

Current workaround for `netlify link` is manually connecting the site-id

This behavior is also visible on https://oauth-example.netlify.co

[2020-02-10 11:31] ehmicky opened #86 "Do not expose API token"
The API token is exposed as `apiClient.accessToken`. This is a security concern when the client is passed between different trusted domains.

For example, Build plugins perform logic on behalf of the user. They receive an instance of the API client with the user's access token. However they should not see the API token.

[2020-02-14 08:03] riddla opened #87 "How to use the UMD version in a webpack environment?"
Hello there.

I'm trying to import the UMD version in a Vue project that is based on webpack respectively https://laravel.com/docs/6.x/mix. It ends up in the following error message:

[code]

I'm trying to use it as follows:

[code]

Did anybody have success with the webpack/UMD combination?

[2020-02-14 10:40] ehmicky commented on #87
Hi @riddla

UMD builds are currently [experimental](https://github.com/netlify/js-client#umd-builds) and are unfortunately not working quite yet.

In your case, it seems like Webpack might be tripping up on the `...` spread operator. Maybe this is because you are targeting browsers that do not support that operator? Or because you are not using Babel?

[2020-03-03 02:48] South-Paw opened #89 "Add Typescript types to package or @types/netlify"
**- Do you want to request a *feature* or report a *bug*?**

Feature I guess?

**- What is the current behavior?**

There are no Typescript types in the repo or on `@types/netlify` for this package

**- What is the expected behavior?**

There are types for the package 😄

**- Please mention your node.js, and operating system version.**

n/a

[2020-03-03 15:30] erquhart commented on #86
@rybit I remember hearing the access token we're receiving is stripped down to avoid this security concern, can you confirm?

[2020-03-03 16:21] rybit commented on #86
There are two tokens here:
- one is the build one, this is exposed only to the buildbot and passed into the API in some cases
- one is a fuller token, this is stripped down for PRs and forks. There is ongoing work to not expose this on the backend or only in certain cases

[2020-03-10 19:21] imranmomin commented on #89
Duplicate https://github.com/netlify/js-client/issues/50

[2020-03-10 19:29] ehmicky commented on #89
You're right @imranmomin. Closing this in favor of #50.

[2020-03-10 19:29] #89 closed

[2020-03-10 19:47] South-Paw commented on #89
@imranmomin @ehmicky apologies, I did search to see if someone else had raised something but didn't see #50 😞

[2020-03-10 19:56] ehmicky commented on #89
No worries! This happens to me all the time :)

[2020-03-11 17:43] imranmomin commented on #50
@sumitparakh - any update on when will it be available

[2020-03-11 18:19] sumitparakh commented on #50
@imranmomin Sorry it took long. But I'll try to complete it by 22 March.

[2020-03-11 18:22] sumitparakh commented on #50
@imranmomin . Most of the things are done though.

[2020-04-17 18:16] ehmicky commented on #86
Note: we are currently relying on this for https://github.com/netlify/edge-functions-deploy-plugin, but this is a temporary workaround.

[2020-04-23 06:41] prestonlimlianjie opened #99 "bug: GET `/sites` does not retrieve all sites, specifically sites in shared teams"
**- Do you want to request a *feature* or report a *bug*?**
This is a bug report.

**- If the current behavior is a bug, please provide the steps to reproduce.**
I currently have my own personal Netlify team and I also belong to a Netlify team that has several coworkers. The latter Netlify team has >100 sites.

However, when I make the following request - `GET https://api.netlify.com/api/v1/sites?

[2020-04-23 06:42] prestonlimlianjie commented on #99
Moving this to the API specification repo

[2020-04-23 06:42] #99 closed

[2020-04-29 22:04] elie222 opened #102 "createSite not using arguments"
I made a fix to the README about a related item which was just accepted:
https://github.com/netlify/js-client/pull/101

But now I realise it's not listening to any of the parameters I pass in. For example if I run:

[code]

It doesn't name the site according to the name I provided (nor does any of the GitHub linking work)

[2020-04-29 22:18] elie222 commented on #102
I can confirm that using the REST API via Postman works fine for me and I can create a site with the name of my choosing.

[2020-04-30 11:51] ehmicky commented on #102
It turns out the `README` was in fact correct, i.e. `createSite()` body should be in a `body` variable. I believe the correct call would be:

[code]

[2020-04-30 12:03] elie222 commented on #102
Didn’t seem to work for me for some reason... the broken version did work but just didn’t listen to any of the arguments I passed it.

Could you provide a working example with body please

Best,
Eliezer

On Thu, Apr 30 2020 at 2:52 PM, ehmicky < notifications@github.com > wrote:

[2020-04-30 12:18] ehmicky commented on #102
Hi @elie222, the example above should be a working example with body.

[2020-04-30 12:42] elie222 commented on #102
Ok strange. Didn’t work when I tried. Kept erroring. I ended up using the rest api directly to do what I needed and worked well.

Best,
Eliezer

On Thu, Apr 30 2020 at 3:18 PM, ehmicky < notifications@github.com > wrote:

[2020-04-30 17:58] #55 closed

[2020-05-02 20:51] cobraz commented on #50
Hello 👋

I wanted to check-in. How far are you on implementing the types, @sumitparakh? :)
Maybe I can do something to move things along? I'll happily add a PR on it.

[2020-05-02 21:33] sumitparakh commented on #50
Hi @cobraz. Sorry I couldn't continue my work on this. I pushed my changes [here](https://github.com/sumitparakh/DefinitelyTyped) at [netlify branch](https://github.com/sumitparakh/DefinitelyTyped/tree/netlify)

[2020-05-15 16:05] cobraz commented on #50
Hello! I hoped to have time to help with this, but I’m not sure when. I am a bit busy with other projects now, maybe someone else wants a go at it?

[2020-06-01 19:07] ehmicky commented on #86
Closing in favor of https://github.com/netlify/build/issues/1316 and https://github.com/netlify/buildbot/issues/756.

This is not a security concern anymore since the API token has restricted capabilities.

[2020-06-01 19:07] #86 closed

[2020-06-14 18:15] CanRau opened #107 "bug: createDnsRecord throws "undefined method `end_with?' for nil:NilClass""
**- Do you want to request a *feature* or report a *bug*?**
This is a **bug** report

**- What is the current behavior?**
Trying to create DNS records using
[code]
throws the following error
[code]

It's already been brought up in the [community](https://community.netlify.com/t/netlify-api-for-adding-dns-record/805/3)

**- If the current behavior is a bug, please provide the steps to reproduce.**

[2020-06-26 20:25] ehmicky commented on #102
Closing as stale, feel free to re-open if you're still experiencing this problem.

[2020-06-26 20:25] #102 closed

[2020-06-29 14:55] ehmicky commented on #107
Related: https://github.com/netlify/open-api/issues/240

[2020-06-29 17:00] ehmicky commented on #107
Hi @CanRau,

Could you please try to send the same request but directly via HTTP (e.g. with `curl` or other similar tools) as suggested in https://github.com/netlify/open-api/issues/240?

This would allow making sure this is an API bug (which it seems to be) and not a bug in `js-client`. Thanks!

[2020-07-02 15:18] CanRau commented on #107
Sure 🤝
I copy pasted the example from https://github.com/netlify/open-api/issues/240#issue-646761932, replaced API token & DNS zone id and received the same error
[code]

[2020-07-02 15:45] ehmicky commented on #107
Thanks @CanRau.

I am forwarding this to our API team.

@vbrown608 @kitop @keiko713 Do you know what the problem might be?

[2020-07-02 15:46] CanRau commented on #107
Sounds reasonable 😊👌

[2020-07-02 16:43] kitop commented on #107
I'll file a bug on API.

I'm curious to see the value of `hostname: record.name,` that was sent in the original report.

For the one copied from open-api issue, did you set the `Content-Type`  to `application/json`? That's missing in the original curl example in the issue.

[2020-07-03 10:06] kitop commented on #107
We deployed fix to API now that handles this. You should get a more helpful error message now.

@CanRau Can you please try again and let us know?

[2020-07-03 17:39] czerwinskilukasz1 commented on #50
Hi, @cobraz . What's the current status of this task?  How far is it from being done?  CC @sumitparakh

[2020-07-03 18:30] cobraz commented on #50
I haven't been able to do anything with it yet, I'm afraid.

[2020-07-03 18:42] xfaang-ci commented on #50
Ah, ok, thanks for replying.
@sumitparakh How far is it from being done? What is missing?

[2020-07-04 15:35] CanRau commented on #107
Looks great 👏
cURL without content type header responds now with more useful error
[code]
even though it wasn't directly clear to me that it's related to the content type 😅

With the content type set
[code]
it works as expected and returns the result correctly
[code]

can't get the js client working though, even after updating to `4.3.5`
[code]
feeding it those values
[code]
resulting in the follo

[2020-07-06 11:26] czerwinskilukasz1 commented on #50
@sumitparakh, what's missing in the current definitions you created?

[2020-07-16 17:57] renovate[bot] opened #111 "Update Dependencies (Renovate Bot)"
This [master issue](https://renovatebot.com/blog/master-issue) contains a list of Renovate updates and their statuses.

## Awaiting Schedule

These updates are awaiting their schedule. Click on a checkbox to ignore the schedule.
 - [ ] chore(deps): update babel monorepo (`@babel/core`, `@babel/plugin-transform-runtime`, `@babel/preset-env`, `@babel/runtime`)
 - [ ] chore(deps): update dependency e

[2020-08-21 19:37] nwtgck opened #138 ""branch" in .deploy({ branch }) accepts upper case letters and symbols, but deployment is "Not Found""
**- What is the current behavior?**

When I deployed with `branch: ` which includes upper cases or symbols, deployment is done successfully. But, deployed URL, `.deploy.deploy_ssl_ur` tells me "Not Found".

[code]

**- What is the expected behavior?**

The internal API or this "js-client" converts "branch" property properly.

## my workaround

[code]

related: https://github.com/nwtgck/actions-net

[2020-08-29 15:08] Henry-Asante opened #144 "NETLIFY JS CLIENT JSONHTTPERROR"
Solved it using the tutorial found here: https://docs.netlify.com/api/get-started/#create-site

[2020-08-29 16:06] #144 closed

[2020-09-10 05:28] CanRau commented on #50
Any news?

[2020-09-10 09:54] erezrokah opened #149 "Feature: Support specifying commit sha/URL when creating/updating a deploy"
Related to https://github.com/netlify/cli/issues/1122

**- Do you want to request a *feature* or report a *bug*?**

Feature

**- What is the current behaviour?**

Manual deploys shown in the Netlify UI are not linked to any commit.

**- What is the expected behaviour?**

An option should be provider to tag a deploy with a commit sha or URL so one could click the deploy in the Netlify UI and be red

[2020-09-10 10:13] ingride commented on #149
The deploy object has the following attributes we would need to expose and receive
### Commit details:
[code]

PR details:
[code]

I think this becomes a matter of making those available in the [Open-API](https://open-api.netlify.com/#operation/createSiteDeploy) and passing them in when creating a deploy.

[2020-09-16 08:11] styxlab opened #154 "Feature: Decrease bundle size by including only specified methods"
I am using the js-client with Next.js and the netlifyAPI class increases my bundle size by approx. 20 KB, although I am using just a few methods. This is too much for a typical SPA and should be reduced. I have not found a way to include only the methods I actually need, which would substantially reduce the bundle size.

I think the problem is that all methods specified are included:

https://gith

[2020-09-17 12:08] ehmicky opened #156 "Allow calling API endpoints not in OpenAPI yet"
The Netlify OpenAPI specification is missing many endpoints and is often lagging behind. Also, we purposely don't add some endpoints there for features that have not been announced yet.

Because of this, we have refrained from using the `js-client` in many projects, and prefer to call the Netlify API directly ([example](https://github.com/netlify/netlify-plugin-edge-handlers/blob/a9f8b0b11a1a47687

[2020-09-17 12:24] erezrokah opened #157 "Feature: consider moving js-client deploy logic to the CLI"
At the moment most of the CLI deploy command logic in handled by the `js-client`:
https://github.com/netlify/js-client/blob/9d3945c1bb3f8d96b734f3eca1d90c717fa38558/src/deploy/index.js#L42

This seems out of place for a client that should be wrapping our open-api spec.
Also, it prevents this client from being browser compatible.

It might makes sense to move that logic to the CLI, since we're alre

[2020-09-17 12:28] ehmicky commented on #157
:100:

[2020-09-18 13:51] ehmicky commented on #154
Hi @styxlab,

Thanks a lot for point that out! Reducing the bundle size is definitely a good thing.

I would recommend using a tool like [source-map-explorer](https://github.com/danvk/source-map-explorer/) for diagnosing this.

![image](https://user-images.githubusercontent.com/8136211/93604107-3d449600-f9c5-11ea-9fe3-3d7bca9549a4.png)

Note: the size in that graph represent the uncompressed file

[2020-09-18 20:20] styxlab commented on #154
Thanks for this thorough analysis and your willingness to look into reducing the bundle size. In the meantime, however, I switched to using the endpoints directly utilizing `js-fetch`. Maybe this is an unfair comparison as `fetch()` is already part of my bundle, but that way I can save 20KB on every route/module that is using netlify and I start wondering what I needed the `js-client` for. Of cour

[2020-09-24 10:24] erezrokah commented on #157
Doing this would also allow for better error handling as we could `try/catch` on each deploy related operation instead of catching everything here:
https://github.com/netlify/cli/blob/7db9ce56c26d25ca43631daaf5d32c3140e15f6a/src/commands/deploy.js#L228

[2020-09-25 15:16] glosee commented on #39
Obligatory +1 -- I have 125 sites... I need that other 25 so badly.

[2020-09-25 15:59] glosee commented on #39
Sorry for the cheeky post. Let me elaborate. I have been talking to Netlify support about this as well, but I thought it would be good to share the details directly on the issue here.

I am working on some analysis on all the sites in our account, specifically for user access management, and I have found that neither the JS client nor the CLI tool seem to support pagination. We have 125 sites live

[2020-09-30 06:14] jverce commented on #39
Should this pagination logic be exposed to users? Or could we implement a generator-based function that keeps returning items until the whole dataset is exhausted, and handle the pagination logic internally in the client?

[2020-09-30 14:55] grahaml commented on #39
This is a good question @jverce, and I think the answer depends on this libraries purpose and intent.

If the intent is to provide an SDK that mirrors Netlify's Open API spec, then I would say that we should expose the headers or include some kind of indicator in the response body that there is another page to fetch, which would of course be a breaking change as OP indicated.

If the intent is to

[2020-10-03 00:04] kaganjd opened #166 "Retry request on ETIMEDOUT"
**- Do you want to request a *feature* or report a *bug*?**
feature? enhancement?

**- What is the current behavior?**
We have an enterprise customer who's hitting errors like this (redacted for privacy) a few times every day, impacting 5-10% of their daily builds:
[code]
@kitop investigated and found that the error was coming from node-fetch. He says:

If I turn on my wifi and try to run a comman

[2020-10-03 14:49] ehmicky commented on #166
:+1:

We should use `got`, which has [built-in support](https://github.com/sindresorhus/got#retry) for automatic retries.

[2020-10-04 04:29] jverce commented on #39
Yeah, I can relate with that @grahaml, I had to do the same thing in my project since I need to support such cases.

I created a PR for the JS client to provide such functionality: https://github.com/netlify/js-client/pull/167
Given that datasets can grow indefinitely (e.g. `listSiteDeploys` will grow monotonically with every commit to a main branch), and also to maintain backwards compatibility,

[2020-10-06 22:31] mheffner commented on #166
@erquhart Do you think Pod B could prioritize this work? A customer has been hitting it recently (https://github.com/netlify/bitballoon/issues/7520#issuecomment-704424483) failing their deploys.

[2020-10-07 09:17] erezrokah commented on #166
Other than adding edge handlers deploy to the CLI (which should not be related), the other deploy related CLI change is https://github.com/netlify/cli/pull/1272, which might have the impact of deploying more files.

Not sure how that might be related to polling to when the deploy is ready, which should be retried regardless.

Also related https://github.com/netlify/js-client/issues/157

[2020-10-07 09:54] erezrokah opened #170 "Feat: re-publish this package a @netlify/js-client"
This package is currently published as `netlify`:
https://www.npmjs.com/package/netlify

This is very confusing and doesn't match our naming convention of scoped packages.

We should deprecate the old package and publish it under `@netlify/js-client`

[2020-10-07 12:48] erezrokah commented on #170
We could use https://docs.npmjs.com/cli/deprecate

[2020-10-07 12:54] ehmicky commented on #170
This is a much better name.
Using `npm deprecate`, users would get notified to update the package name. However, some users will skip this warning and get stuck on an old version of this library. This might be the biggest downside.
That being said, I still think this is a good idea :+1:

[2020-10-07 14:30] futuregerald commented on #170
I think this is a good idea. Also if people choose to ignore warnings then it's on them. Anyone using the js-client is a developer and is expected to manage the versions of their dependencies and when to upgrade, and will know how to get to our docs to see that the package name changed.

[2020-10-07 14:41] ehmicky commented on #170
We should coordinate with the documentation team @rstavchansky to check if anything should be changed there.

[2020-10-07 15:11] rstavchansky commented on #170
Thanks for the ping @ehmicky. The only mention of this that I can find is in our API [Getting Started](https://docs.netlify.com/api/get-started/) page. It's a direct link to the GitHub repo, though, so I don't think the docs repo itself will require any changes.

[2020-10-07 19:16] erquhart commented on #166
@erezrokah @ehmicky let's hit this first thing in the morning.

[2020-10-08 12:00] ehmicky commented on #166
The deploy is failing here:

https://github.com/netlify/js-client/blob/00b3e939ef133a15db0e9ba8e4e873d748fd442b/src/deploy/util.js#L73-L106

This is part of this library's `api.deploy()` method. This happens when polling `GET /sites/{site_id}/deploys/{deploy_id}` once per minute until the response returns `{ "state": "ready" }`. This polling happens right after uploading files and printing the log

[2020-10-08 12:19] erezrokah commented on #166
Cloud this also happen on an unstable network connection? If so retrying makes regardless of the root cause.

[2020-10-08 14:40] kschlarman commented on #166
My assumption is that if this were an issue with our endpoint flaking out (`GET /sites/{site_id}/deploys/{deploy_id}`), we'd have many more reports of this issue. So my hunch is that it might be an unstable network connection.

I think it's pretty reasonable to expect that our customers may have flaky network connections. For this reason, many client libraries I've worked with will retry timeouts

[2020-10-08 14:50] ehmicky commented on #166
Good point @kschlarman.
We're going to add some retry logic to `ETIMEDOUT` on any HTTP request from this library.
I'm currently figuring out exactly which part of the HTTP request/response is timing out with this specific error message, so we know what's the best place to put this retry logic.

[2020-10-08 19:16] ehmicky commented on #166
Fixed at #171.

[2020-10-08 20:12] #166 closed

[2020-10-08 20:31] erezrokah opened #173 "Chore: delete `src/addons.js` from the codebase"
Per https://github.com/netlify/cli/issues/310 we should delete https://github.com/netlify/js-client/blob/2b90af2dcae5556c8f0b61f7c6ec9fbd895235b6/src/addons.js once https://github.com/netlify/cli/pull/1344 is merge.

[2020-10-08 20:37] ehmicky commented on #173
This would be great, as it would make this client thinner.
Note: removing those endpoints is not a breaking change since those are not exported by the `main` entry file.

[2020-10-08 21:16] ehmicky commented on #166
This has been released in `4.8.0`.

[2020-10-18 00:16] kaganjd opened #178 "Update concurrentUpload"
**Placeholder/possible dupe related to other concurrency work: https://github.com/netlify/bitballoon/issues/5842 (internal)**

Someone in Community recently pointed out that we show concurrentUpload as 15:
https://github.com/netlify/js-client/blob/9915239d6931c49416feda94dfc013eec7e0ff1a/src/deploy/index.js#L23

when it is actually 5. This person was using 15 and getting rate-limited.

[2020-10-19 18:38] ingride commented on #178
yep, we should do this.

With the concurrency limits on the API side, we didn't prioritize this because there would be no major impact on deploys and we shouldn't see any issues. @kaganjd if you wanna cut a PR, am all up for it and then we can cut a release with the change.

Otherwise I can do tomorrow

[2020-10-21 15:41] ingride commented on #178
this has been fixed in https://github.com/netlify/js-client/pull/181

[2020-10-21 15:41] #178 closed

[2020-10-26 09:10] erezrokah opened #185 "CI: Linting and formatting are not enforced in CI"
The following script:
https://github.com/netlify/js-client/blob/a3fe9fb9fabcc9b51640849c186f46fdea3f9dc2/package.json#L20

Will not fail if `eslint` was able to auto fix all errors and `prettier` modified some files.

We should probably switch to using https://github.com/netlify/eslint-config-node in the process of fixing this issue and use the same approach as https://github.com/netlify/build/blo

[2020-11-07 17:12] svdoever commented on #157
Please don't - I want to use the deploy logic of this library within my own application but NOT depend on netlify-cli. I'm running within a cramped VM with 200 MB memory (using https://glitch.com), so could NOT use netlify-cli, because installing that package downloads 75MB (mostly due to typescript - Why?!):

[code]

Top 5 package sizes in netlify-dev:
[code]

That TypeScript is big, ok, but `tri

[2020-11-08 11:24] erezrokah commented on #157
Thanks for your input @svdoever. See more about package size here https://github.com/netlify/cli/issues/494

[2020-12-12 18:40] hendhyhutomo opened #229 "BUG: Gatsby Build Issue just by Adding Netlify JS Client API"
Yesterday after I updated my package set there is an error that occurs that causes the Gatsby Build to file.
After further investigation removing the NETLIFY js API seems to fix the issue.

The build error is as follows:
`failed Building static HTML for pages - 20.250s
error Building static HTML failed

  131 |
  132 | const path = require('path').join(__dirname, 'elf_cam_bg.wasm');

      |

[2020-12-13 13:24] erezrokah commented on #229
Hi @hendhyhutomo, do you mind sharing a repo reproducing the issue? That would make it much easier to track down the underlying cause

[2020-12-13 18:21] hendhyhutomo commented on #229
I have made a new project here
https://gitlab.com/hendhyhutomo/herbamojo-error.git
The error will only show on the previous commit.
Netlify is used in@deploystatus.js file

[2020-12-14 09:49] erezrokah commented on #185
Fixed by https://github.com/netlify/js-client/pull/211

[2020-12-14 09:49] #185 closed

[2020-12-14 15:41] ehmicky commented on #229
This looks related to the new Netlify Functions runtime detection (https://github.com/netlify/zip-it-and-ship-it/pull/226).
@calavera Do you know what the problem might be?

[2020-12-14 16:20] mraerino commented on #229
i don't really get why it would be related?
how could the changes we made be related with a missing file?

[2020-12-14 16:49] ehmicky commented on #229
The file that's missing is `elf_cam_bg.wasm`, which seems related to [`elf-cam`](https://github.com/netlify/elf-cam), which was added by this PR.

[2020-12-14 18:19] mraerino commented on #229
oh, i see. seems webpack doesn't like to bundle it. can we somehow exclude from builds targeting browsers?

[2020-12-16 18:29] erezrokah opened #243 "chore: add release flow via PRs"
We should switch to https://github.com/google-github-actions/release-please-action like our [other repos](https://github.com/netlify/zip-it-and-ship-it/pull/266) to align the way we publish packages.

[2020-12-20 04:21] kaganjd commented on #229
Linking the forum thread here: https://community.netlify.com/t/gatsby-build-fail-by-implementing-netlify-api-js-client/28208

[2020-12-20 09:40] #243 closed

[2020-12-20 10:58] erezrokah commented on #229
Hi @hendhyhutomo, as a workaround you can add `@netlify/zip-it-and-ship-it` to the externals list of you webpack configuration. That part of the Netlify JS Client API is not browser compatible anyway.
I've opened a MR for it:
https://gitlab.com/hendhyhutomo/herbamojo-error/-/merge_requests/2

[2020-12-20 17:17] hendhyhutomo commented on #229
Owh that works! amazing!

But we need to keep this open for the team to produce an actual fix.

[2021-01-11 10:06] erezrokah opened #270 "Feature: drop Node.js 8 support"
Following up with https://github.com/netlify/cli/issues/1568, we should be good now with dropping Node.js 8 support for the `js-client`.

[2021-01-11 14:40] ehmicky commented on #270
I am thinking we might want to drop support for Node 8 from `@netlify/build` and `@netlify/config` first since they use `js-client` (to retrieve site information, cancel builds and report plugins statuses).

The only parts which use `js-client` should use Node version 12 in production.
However, the tests are currently running `@netlify/build` and `@netlify/config` in Node 8. We do this to test the

[2021-01-11 14:47] erezrokah commented on #270
We could wait for `@netlify/build` and `@netlify/config`.
I'm not sure we should invest the time to change the tests unless we have an urgent reason to drop Node.js 8 for `js-client`.

[2021-01-21 12:53] renovate[bot] opened #278 "Action Required: Fix Renovate Configuration"
There is an error with this repository's Renovate configuration that needs to be fixed. As a precaution, Renovate will stop PRs until it is resolved.

Error type: undefined. Note: this is a *nested* preset so please contact the preset author if you are unable to fix it yourself.

[2021-01-21 14:31] #278 closed

[2021-01-22 16:03] JGAntunes opened #285 "Improve API pagination support"
Currently pagination is dictated via the `open-api` spec support and, for the list endpoints that support it, users will need to rely on the `per_page` and `page` params to iteratively fetch new data. The fact that we're not exposing the response headers also means users will have no way to know when further data is available or not.

We should figure a user friendly API mechanism to deal with thi

[2021-01-22 17:08] JGAntunes commented on #39
Hey folks 👋 we've just released v6.1.0:
* https://github.com/netlify/js-client/pull/283
* https://www.npmjs.com/package/netlify/v/6.1.0

This should cover pagination usage for the following endpoints:
[code]
Check the relevant PR - https://github.com/netlify/open-api/pull/278 - for more info

Right now it is possible to use the pagination params present in - https://open-api.netlify.com/ - like:
[

[2021-01-22 17:08] #39 closed

[2021-01-22 17:41] JGAntunes opened #287 "Return the response object from the methods"
The current `js-client` API implementation is restrictive in the sense that it only exposes the response body and an error if that's the case. Coming from discussions in #285 #39 #156 I feel like it would make sense and there's enough room to add some sort of support for our `methods` to return the whole `response` object.

I realise this could easily be a breaking change, but maybe we could come

[2021-01-22 18:03] erezrokah commented on #287
I agreed we should return a more descriptive object.

We could support pagination in a non breaking way by letting users pass another argument like `retreiveAll` or something similar, but that feels like a hack.

[2021-01-28 04:45] amykapernick commented on #229
So I'm getting this same error on my Next Site

[2021-02-05 09:55] erezrokah commented on #173
That file is still used in our large media plugin:
https://github.com/netlify/netlify-lm-plugin/blob/e177e391c27f4ce6672efa123780e47d724fcda3/src/commands/lm/setup.ts#L7
We should able to remove it once https://github.com/netlify/cli/pull/1489 is published

[2021-02-08 08:48] austinrivas commented on #50
any progress on this? I'm willing to sponsor work to get this completed.

[2021-02-08 12:30] JGAntunes commented on #50
Hey folks 👋

I don't believe anyone is actively working on this (do correct me if I'm wrong and you have more information though). As always, we're open to contributions, so if you do want to pick this up @austinrivas feel free to do so and we'll provide as much help and feedback as we can 👍

[2021-02-08 12:43] erezrokah commented on #50
We're generating the methods in the client from a `swagger.json` (see [here](https://github.com/netlify/open-api/blob/2a629bcc306e7543644b1b1d27ff4de6a11b121e/package.json#L46) and [here](https://github.com/netlify/js-client/blob/0d21622504af4d8b5defb2dc04049db9ff281b1f/src/index.js#L1)) so [this tool](https://github.com/drwpow/openapi-typescript) could be helpful.

[2021-02-08 15:20] austinrivas commented on #50
I implemented the types locally in my repo based on what is in definitelytyped already, however I am having a hard time following the openapi docs as it isn't very clear on what fields are mandatory and what is required.

Also, the codegen for the js-client makes it pretty challenged to see what the actual method signatures are.

For right now I am just going to stick to typing the methods I need.

[2021-02-09 02:23] austinrivas commented on #156
this seems to be the only reliable way to consume the netlify api, I have been having a lot of problems with the js-client

[2021-02-10 11:01] eduardoboucas commented on #157
Currently, CLI works with two instances of `zip-it-and-ship-it`: one as a direct dependency and another as a transitive dependency via `netlify` (the package published from this repo). This is not ideal and introduces unnecessary complexity and maintenance overhead.

Moving the bundling logic to CLI would consolidate them into one, while at the same time simplifying the `netlify` package, making i

[2021-02-19 17:52] jimniels opened #331 "Clarity on disposition towards semver and breaking changes"
I recently realized I was running a version of this JS client back at v2. The most recent is v6. This immediately struck terror in my heart that I'd have to consider parsing the release notes from 3 to 4 to 5 to 6 to see what changed.

After looking at the CHANGELOG, I saw nothing mentioning breaking changes. Still, I had gone from v2 to v6 and the upgrade seemed scary. After searching the issues,

[2021-02-21 09:07] erezrokah commented on #331
Hi @jimniels, I agree completely. Since the last major version we've started using conventional commits and release PRs to automatically create the changelog and report breaking changes.
See example autogenerated PR https://github.com/netlify/js-client/pull/330.
We haven't had a breaking change yet, but you can see an example here https://github.com/netlify/framework-info/pull/138

Does that addre

[2021-02-22 17:13] jimniels commented on #331
@erezrokah thanks for the details. The conventional commits and release PRs sound like a great improvement, props to the team!

I guess my biggest concern centered around not being able to find breaking change documentation in the CHANGELOG. I was expecting something like you pointed out:

![Screen Shot 2021-02-22 at 9 46 28 AM](https://user-images.githubusercontent.com/1316441/108740382-d76bb580-

[2021-02-22 17:21] erezrokah commented on #331
Clarifying this - I should have written `We haven't had a breaking change since we introduced the new process using conventional commits and release PR`.

So I think we're on the same page here going forward. Thank you for opening the issue.
Closing as I believe it is addressed - please comment if you have any other concerns/questions.

[2021-02-22 17:21] #331 closed

[2021-04-01 23:53] apmitchell commented on #229
I'm having this issue currently, and suddenly trying to build a _serverless_ project

[2021-04-26 15:33] #173 closed

[2021-04-26 15:33] #56 closed

[2021-04-29 21:37] ehmicky opened #404 "URL parameters should be percent-encoded"
URL parameters should be percent-encoded using `encodeURIComponent()`.

https://github.com/netlify/js-client/blob/b0bf6d41159d936747f16d63d02025709dcf7fc2/src/methods/url.js#L19

This fix should be a major release, since some clients might currently do this percent-encoding themselves. This is the case for example of `@netlify/build` with the `updatePlugin` endpoint at https://github.com/netlify/b

[2021-05-03 16:41] erquhart commented on #157
Potentially related: https://github.com/netlify/js-client/issues/229

[2021-05-14 19:53] ehmicky opened #423 "Add debugging information to `User-Agent`"
The default `User-Agent` HTTP request header should include the following information for debugging: `js-client` version, Node.js version, OS.

https://github.com/netlify/js-client/blob/366ffa153bd67fec620ad58e451c06b2fd037308/src/index.js#L17

[2021-05-14 22:47] eduardoboucas commented on #157
This logic has now been moved to the CLI. We now need to remove the logic from this package and release a new major version.

[2021-05-17 16:40] matusferko opened #429 "Build settings environment variables are not getting updated"
Hi, I am trying createSite() or updateSite() of your js API.
I can create (partially) new site with createSite. The name of the new site is correct but no other arguments are taken into account .
I am actually just trying to populate environment variables in build settings with
[code]
But nothing gets updated

[2021-05-17 16:59] ehmicky commented on #429
Hi @matusferko,

Does the following work instead?

[code]

[2021-05-17 18:55] matusferko commented on #429
omg that worked. Thanks @ehmicky
What get's updated on update? Are all the settings overwritten or only properties which are defined?

[2021-05-17 19:02] ehmicky commented on #429
Great! :tada:

To answer your question: only the properties which are defined.

[2021-05-17 19:02] #429 closed

[2021-05-27 08:45] #157 closed

[2021-05-27 09:42] eduardoboucas commented on #229
This should be fixed with version 7.0.0, since `@netlify/zip-it-and-ship-it` is no longer a dependency. If you're still seeing the error, please add a comment and I'll reopen the issue.

Thanks for your patience! 🙌🏻

[2021-05-27 09:42] #229 closed

[2021-06-14 05:44] South-Paw commented on #157
How we we call the `deploy` method programmatically in from the cli package?

`netlify/cli` doesn't appear to be a package I can just import into my code and call `deploy` after creating a client like I could before - so this was hardly a 1-1 trade off

[2021-06-14 10:15] erezrokah commented on #157
Hi @South-Paw, would spawning the CLI as an external process work?
e.g.
[code]

You can also pass `NETLIFY_AUTH_TOKEN` and `NETLIFY_SITE_ID` as environment variables.

If that doesn't cover your use case, can you please open a [feature request](https://github.com/netlify/cli/issues/new?assignees=&labels=type%3A+feature&template=feature_request.md&title=Please+replace+with+a+clear+and+descriptive+t

[2021-06-14 10:55] South-Paw commented on #157
Hi @erezrokah, thank you for the reply. I'm unsure if spawning a process for the deployment suits the use case?

The deploy is in [the middle of a GitHub action](https://github.com/South-Paw/action-netlify-deploy/blob/07ce8475462daf885db65d4450cee7ebcf5b2943/src/main.ts#L84) which also manages the Netlify deploy messages, comments on the PR/Commit, creating GitHub deploy environments.

Any advice

[2021-06-14 11:50] erezrokah commented on #157
Hi @South-Paw, I actually think using the CLI would provide a better experience.

Users won't need to configure `build-dir`, `functions-dir` and `config-path` as the CLI [resolves those](https://github.com/netlify/cli/blob/172bd1ec80ed1d63157be7a9123c7d3f61fd6524/src/utils/command.js#L146) based on the user's repo.

You can pass a `json` flag to have parsable output and a `message` flag to set the

[2021-06-30 21:07] Pentatool15 commented on #404
var hoy = 4; ayer = '4', comp;
comp = hoy == ayer; /* comp adquiere el valor true*/
comp = hoy === ayer /* comp adquiere el valor false*/

[2021-07-01 09:26] Pentatool15 commented on #404
Ja.tkp

[2021-07-23 16:11] JGAntunes commented on #270
With https://github.com/netlify/build/issues/3321 underway, adding this to our up next queue as we deprecate Node 8 across `@netlify/build`'s ecosystem.

[2021-08-12 17:46] JGAntunes commented on #270
This has been closed via #464

[2021-08-12 17:46] #270 closed

[2021-10-15 14:10] ehmicky opened #494 "Upgrade minimal Node.js version to Node 12"
See background at https://github.com/netlify/team-dev/issues/34

We should upgrade the minimal Node.js version to Node `>=12.20.0` and make a major release.

This should only be done after Node 10 support in both Netlify CLI (https://github.com/netlify/cli/issues/3512) and Netlify Build (https://github.com/netlify/build/issues/3741) has been dropped first.

This would not break sites because:
  -

[2021-10-15 14:59] ehmicky opened #495 "Use pure ES modules"
See background at https://github.com/netlify/team-dev/issues/36

Once https://github.com/netlify/js-client/issues/494 is done and released, we should use pure ES modules and make a major release.

This is more than just switching from CommonJS to `import`/`export`. See [this list](https://gist.github.com/sindresorhus/a39789f98801d908bbc7ff3ecc99d99c) for other changes which might be involved. This

[2021-10-25 01:39] tools-netlify opened #501 "[security] Enforce Branch Protections"
This is an issue generated by (for-internal-use-only)[github-tools](https://github.com/netlify/github-tools/)
### Description
This repository has exceeded the development grace period, and the repo owner must decide if branch protections should be enforced.
If this repository houses code used in production in any capacity, branch protections must be enforced. Read (for-internal-use-only)[here](htt

[2021-10-27 12:18] aidanm1999 opened #508 "Retrieve spam submissions from `listSiteSubmissions` and `listFormSubmissions` functions"
**Feature Request**

**- What is the current behaviour?**
The functions `listSiteSubmissions()` and `listFormSubmissions()` only returns valid submissions. In your docs, you can pass in a `?state=spam` path parameter, but when looking at the code in this repo:

[code]

[code]

`listSiteSubmissions()` and `listFormSubmissions()` do not have the option to pass in the spam param.

**- If the current

[2021-10-27 13:23] #501 closed, assigned to nobody

[2021-11-12 12:42] GonzaloHirschToptal commented on #285
Bumping this because we need to retrieve paginated results and we are missing pagination information the API returns.

[2021-11-12 12:48] GonzaloHirschToptal opened #571 "`draft` property not being returned in `listSiteDeploys`"
Hi, we have a feature that depends on knowing whether or not a deploy was a draft. The `listSiteDeploys` [docs](https://open-api.netlify.com/#operation/listSiteDeploys) for the api state that the `draft` property would be sent in the response, but our responses from the API are lacking that property.

We are using this client to consume the API from a Node application. I also created an [issue](ht

[2021-11-16 13:34] IanVS commented on #157
I'm trying to figure out how to use the cli in a GitHub action.  It's not straightforward, because GitHub says that actions should not rely on any other binaries that aren't preinstalled in their worker boxes.  Do you have any ideas, @erezrokah?  I think you're right that using the automatic resolution features of the cli wou5 be nice, I'm just not sure how to bundle the cli along with my JavaScri

[2021-11-16 14:00] erezrokah commented on #157
Hi @IanVS, you can install the CLI as a regular dependency, e.g. via `npm install netlify-cli`, then with whatever tool you use to bundle the action, make sure it bundles the CLI.

[2021-11-16 15:19] IanVS commented on #157
Thanks @erezrokah.  Do you have any suggestions for bundling a binary out of node_modules into an executable?  I've tried https://github.com/vercel/pkg and https://github.com/vercel/ncc without luck so far.

[2021-11-16 23:41] South-Paw commented on #157
Yeah, echoing a lot of what I've found after switching over the using [netlify/actions](netlify/actions) @IanVS instead of [South-Paw/action-netlify-deploy](https://github.com/South-Paw/action-netlify-deploy). The readme's are also out of date, PRs that update them haven't been merged and there are typo's in the scripts and bugs & gaps in the action outputs to top it off! 😆

The netlify/actions &

[2021-11-24 20:49] #494 closed

[2021-11-29 18:53] ehmicky commented on #495
Done in https://github.com/netlify/js-client/pull/590

[2021-11-30 13:48] #495 closed, assigned to ehmicky

[2021-12-14 01:06] mfanuzzi commented on #50
Another voice for this: it's very difficult to tell (without running tests) what the shape of the expected output of, say, success and failure states for each call are. Right now the result of any function call is a black box. It'd almost be preferable to just use `fetch` because at least then it's clear how to get the response (as the HTTP code), especially if all you really need is pass/fail.

I

[2022-01-23 00:07] callmeaponte commented on #87
+1

I'm experiencing this same issue with Vue (technically a Nuxt app). If it helps for troubleshooting purposes - you can reproduce by [creating a new Nuxt project](https://nuxtjs.org/docs/get-started/installation), and then add the [sample code](https://github.com/netlify/js-client#usage) (anywhere) provided in your README.

After that, when you attempt to start up the application via `yarn dev`

[2022-01-31 22:39] mfanuzzi opened #671 "Instantiation of Netlify API client breaks Netlify TS functions"
**- Do you want to request a _feature_ or report a _bug_?**
a bug

**- What is the current behavior?**
importing this library into a Netlify typescript function causes a build error/crash

**- If the current behavior is a bug, please provide the steps to reproduce.**

Create a file called `hello.ts` in your `functions` folder:
[code]

Then run `netlify dev` and visit that endpoint; you'll get a 50

[2022-02-01 14:01] ehmicky commented on #671
Hi @mfanuzzi,

It seems like `import.meta.url` in [this line of code](https://github.com/netlify/js-client/blob/56393851edd6a205bae3a82b145ebc7a849ad9e8/src/open_api.js?_pjax=%23js-repo-pjax-container%2C%20div%5Bitemtype%3D%22http%3A%2F%2Fschema.org%2FSoftwareSourceCode%22%5D%20main%2C%20%5Bdata-pjax-container%5D#L5) is `undefined`.

This seems this bug might be due to the bundling process done on

[2022-03-25 12:51] MatthewPardini opened #693 "Typescript build giving Error [ERR_REQUIRE_ESM]: require() of ES Module"
**- Do you want to request a _feature_ or report a _bug_?**
  Bug

**- What is the current behavior?**
  When importing the default from 'netlify' in a typescript app, I get the following error:

[code]

**- If the current behavior is a bug, please provide the steps to reproduce.**

set up a typescript node project with the following ts config:
[code]

Add netlify to a declaration file, desc.d.ts:

[2022-03-25 14:14] ehmicky commented on #693
Hi @MatthewPardini,

This package is a pure ES module, which requires you code to also use pure ES modules. In TypeScript, [this means using `nodenext`](https://devblogs.microsoft.com/typescript/announcing-typescript-4-5-beta/#esm-nodejs). Alternatively, if you have issues switching to pure ES modules, you can use a dynamic import:

[code]

More information can also be [found here](https://gist.gi

[2022-03-25 14:14] #693 closed

[2022-03-25 14:44] MatthewPardini commented on #693
Using nodenext on the nightly builds 1) isn't stable and 2) doesn't work with several other packages. So that isn't a solution. I can do dynamic imports for now but i'd rather not. Will wait for typescript to catch up to netlify.

Kind of a headscratcher that this package is distributed in esm since its main usage is in node which is friendlier to cjs.

[2022-03-26 02:03] MatthewPardini commented on #693
Dynamic import allows for compilation but errors at run time (when the import is called) with an identical error. Neither of these are solutions that work

[2022-03-28 22:34] mfanuzzi commented on #285
Just updating this for anyone else who might come across it. A further complication is that the maximum `per_page` is 100.

https://answers.netlify.com/t/upper-limit-on-per-page-within-api-calls/53859/2

[2022-04-05 17:26] fool opened #697 "regression: createSiteinTeam call returning 404 suddenly"
(Enterprise) Customer who regularly uses [this call](https://open-api.netlify.com/#operation/createSiteInTeam) via this library has begun receiving 404 / Not found responses as of 2022-03-31T12:45:24.408-04:00 ; last successful POST was 2022-03-31T13:09:45.552-04:00.

There is an example body which causes the failure and some proof that the [createSiteinTeam call](https://open-api.netlify.com/#ope

[2022-04-05 23:37] fool commented on #697
@eric-silverman and I talked a bit more about this in DM's.  Next steps for customer:

- try upgrading from v4.9 to current v11.0.1
- review data - Eric is pretty sure (and I am inclined to agree) that this is a data issue.  I do still think "something" changed on our side (though maybe something they configured: maybe their team membership (I see @RTakes all over their audit logs - cf https://app

[2022-04-11 22:41] mosesoak opened #700 "TypeError thrown on Netlify JS client instantiation, on local dev server"
**- Do you want to request a _feature_ or report a _bug_?**

Bug

**- What is the current behavior?**

When invoking a function locally using `netlify functions:invoke`, a type error is thrown when instantiating this client using `new NetlifyAPI(token)`

**- If the current behavior is a bug, please provide the steps to reproduce.**

Create and invoke a simple test function, in which the client is

[2022-04-24 06:34] MoshikoConf commented on #50
Are there any workarounds for now?

[2022-05-27 12:42] mariobalca commented on #693
Same happening thing happening here (also Typescript).
Did you find any solution?

[2022-05-27 12:53] MatthewPardini commented on #693
I didn’t use the client and just called the api myself

[2022-05-27 13:26] mariobalca commented on #693
I see, and you probably had to use OAuth to authenticate requests right?
I was hoping I could use the API key that I've generated

[2022-05-27 13:53] MatthewPardini commented on #693
I used the api key, not oauth. I am only hitting netlify on an account that I own from services I own so there is no need for oauth

[2022-05-27 14:14] mariobalca commented on #693
You're right! Also got it to work

If anyone else in the future might be interested, here's a snippet:

[code]

[2022-06-30 07:10] seivan commented on #50
add this to your global types in root
[code]

How the Netlify team can be so callous about this is understandable. Trying to taking over the entire pipeline. I just need to send you a blob host via an API/CLI, I don't need to give you access to the repo so you can larp a CI.

[2022-08-27 13:13] POTEAMARDEEP opened #734 "SyntaxError: C:\xampp\htdocs\Shavbook\node_modules\fetch-blob\from.js: Support for the experimental syntax 'classPrivateProperties' isn't currently enabled (60:3):"
**- Do you want to request a _feature_ or report a _bug_?**

**- What is the current behavior?**

**- If the current behavior is a bug, please provide the steps to reproduce.**

**- What is the expected behavior?**

**- Please mention your node.js, and operating system version.**

[2022-08-27 13:35] POTEAMARDEEP opened #735 "ENABLE TO INSTALL NETLIFY"
npm WARN @babel/plugin-bugfix-v8-spread-parameters-in-optional-chaining@7.13.12 requires a peer of @babel/core@^7.13.0 but none is installed. You must install peer dependencies yourself.
npm WARN tsutils@3.21.0 requires a peer of typescript@>=2.8.0 || >= 3.2.0-dev || >= 3.3.0-dev || >= 3.4.0-dev || >= 3.5.0-dev || >= 3.6.0-dev || >= 3.6.0-beta || >= 3.7.0-dev || >= 3.7.0-beta but none is installed

[2022-09-27 18:36] tinfoil-knight commented on #149
@ingride Are there any plans for adding this to the Netlify OpenAPI?

I'll pick up the related changes for the `js-client` & `cli` repo then.

[2022-10-10 13:05] lukasholzer commented on #50
The package got moved to https://github.com/netlify/build under `packages/js-client` and has now a typescript build in place (currently just leveraging the js files but generating already and shipping `d.ts` files.

We are more than happy to accept PR's that increase the quality of the shipped types therefore I will close this issue as the repo get's archived